@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*{
    border: border-box;
    margin: 0;
}

body,html
{
    margin: 0;
    border: 0;
}

/* scroll bar */
::-webkit-scrollbar
{
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:yellow;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:  lightblue;
  }
    
/* nav bar*/  
.nav-bar{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    height: 90px;
    background-color: lightblue;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.sam{
  height: 60px;
  width: 60px;
  border-radius: 5px;
  position: absolute;
  left: 15%;
}

.nav-bar:hover{
    background-color: greenyellow;
    transition: .5s;
    box-shadow: blue;
}
.logo{
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left:50px;
    font-family: satisfy;
}
ul.menu{
    flex:1 ;
    display:flex;
    flex-flow: row wrap;
}
.menu li{
    flex: 1;
    list-style-type:none ;
    font-size:20px ;
    font-family: "Barlow Condensed";
    text-align: center;
}
.menu li a{
    text-decoration:none ;
    color: red;
    text-transform: uppercase;
}
.menu li a:hover{
    color:blueviolet;
    text-decoration: underline;
}
/*banner*/
.banner{
   background-image: url("https://images.unsplash.com/photo-1539635278303-d4002c07eae3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHRyYXZlbCUyMGdpcmx8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height:100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-size: 100%;*/
}
.banner-text-item{
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    flex: 1;
}
.banner-heading h1{
    font-size: 100px;
    font-weight: normal;
    color: yellow;
    font-family: satisfy;
    }
.banner-heading h1:hover{
    color: aqua;
    transition: .3s;

    
}
.banner-text-item .form{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 70%;
    padding: 1% 2%;
}
.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book{
    padding: 15px;
    margin-right: 10px;
    font-size: 18px;
    font-family: roboto;
    border-radius: 5px;
    outline: 0;
    border: none;
}
.banner-text-item input{
    width: 50%;
    flex: 2;
}
.banner-text-item .date{
    width: 20%;
    flex: 1;
}
.banner-text-item .book{
    width: 20%;
    flex: 1;
}
.banner-text-item .book{
    text-decoration: none;
    color: black;
    text-transform:uppercase ;
    padding: 15px;
    cursor: pointer;
    background-color: yellow;
    font-size: 16px;
    font-weight: normal;
    font-family: "Barlow Condensed";

    width:20% ;
}
.banner-text-item .book:hover{
  background-color:orangered;
}
/*places*/
.places-text {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .places-text small {
    font-family: Roboto;
    color: #ffc342;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191d34;
    letter-spacing: 1px;
    transition: .2s;
  }
  .places-text h2:hover{
    color:green;
    
  }
  h2:hover{
    color: darkorange;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
  .card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    height: auto;
    background-color:darkgray ;
  }
  .card:hover{
    background-color:rebeccapurple ;
  }

  .card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cards .text {
    padding: 20px;
    font-family: Barlow Condensed;
    line-height: 50px;
  }
  
  .cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #fde02f;
    font-size: 18px;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cards .card-box :hover{
    background-color: rgba(21, 255, 0, 0.652);
  }
  
  .cards .time {
    flex: 1;
  }
  
  .cards .location {
    flex: 2;
  }
  
  .cards .cost {
    color: #4cafad;
    font-size: 20px;
  }
  .cards .cost:hover{
    color: rgba(219, 175, 113, 0.644);
  }
  
  /*------------Zoom in Photos--------------*/
  .zoom-img {
    float: left;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
  
  .zoom-img .img-card {
    position: absolute;
    overflow: hidden;
  }
  
  .img-card img {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  
  .card:hover .zoom-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /*services*/
  .services {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 255, 168);
  }
  
  .service-item {
    flex: 1;
    padding: 50px 10px;
    border: lightcyan solid 1px;
    text-align: center;
    margin: 180px 50px;
    transition: all 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(223, 255, 80);
  }
  
  .service-item:hover {
    box-shadow: 3px 3px 20px lightsteelblue;
    background-color: chartreuse;
  }
  
  .service-item h2 {
    font-family: Barlow Condensed;
    font-size: 18px;
    width: 120px;
    color: #001f38;
    flex: 1;
  }
  
  .service-item h2:hover{
    color: red;
  }
  
  .service-item img {
    width: 80px;
    height: 80px;
    flex: 1;
  }
/*footer*/
.footer {
  background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 670px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 36, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer .links {
  position: relative;
  color:white;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
}

.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 10px 0;
}

.links li:hover {
  color: #ffa801;
}
